# Исключение всех IDE-системных файлов и папок
.idea/
.vscode/

# Системные файлы
.DS_Store

# Локальный файл конфигурации
/config/local.yaml

# Логи и временные файлы
*.log
*.tmp

# Исполняемые файлы и временные файлы Go
*.exe
*.out
*.test
*.xml
