env: ""                             # local, dev, prod (1 из этих вариантов)
http_server:
  server_port: ":8080"              # На каком порту запускать сервер (например, {домен}:8080)
  timeout: 10s                      # Тайм-аут в секундах для HTTP-запросов (например, 10s)
  idle_timeout: 60s                 # Тайм-аут простоя соединения (например, 60s)
database:
  host: ""                          # Хост БД
  port: 5432                        # Порт БД (по классике 5432). Значение без кавычек т.к. int
  user: ""                          # username пользователя БД
  password: ""                      # password пользователя БД
  dbname: ""                        # Название БД
